<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovopc.jagrati">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <!-- Entry Activities -->
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".JoinUs">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.JOINUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Log in">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Entry Activities END -->

        <!-- Teaching Department Activities -->
        <activity
            android:name=".TeachingDepartment"
            android:label="Teaching Department"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.TEACHINGDEPT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubjectTeachingDepartment"
            android:label="SubjectTeachingDepartment"
            android:parentActivityName=".TeachingDepartment">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.SUBJECTDEPT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Teaching Department Activities END -->

        <!-- Class Activities -->
        <activity
            android:name=".ClassesList"
            android:label="ClassList"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.CLASSLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClassStudentList"
            android:label="ClassStudentList"
            android:parentActivityName=".ClassesList">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.STUDENTLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Class Activities END -->

        <!-- Student Activities -->
        <activity
            android:name=".StudentAttendance"
            android:label="Attendance"
            android:parentActivityName=".ClassStudentList">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.STUDENTATTENDANCE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentFeedback"
            android:label="@string/title_activity_student_feedback"
            android:parentActivityName=".ClassStudentList">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.STUDENTFEEDBACK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Timeline"
            android:label="Timeline"
            android:parentActivityName=".ProfileStudent">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.TIMELINE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Student Activities END -->

        <!-- Event Activities -->
        <activity
            android:name=".AddEvent"
            android:label="@string/title_activity_add_event"
            android:parentActivityName=".Events">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.ADDEVENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Events"
            android:label="@string/title_activity_events"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.EVENTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventDetail"
            android:label="EventDetail"
            android:parentActivityName=".Events">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.EVENTDETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Event Activities END -->

        <!-- Class Feedback Activities -->
        <activity
            android:name=".ClassFeedback"
            android:label="ClassFeedback"
            android:parentActivityName=".ClassStudentList">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.CLASSFEEDBACK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".History"
            android:label="@string/title_activity_history"
            android:parentActivityName=".ClassStudentList">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.HISTORY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Class Feedback Activities END -->

        <!-- Profile Activities -->
        <activity
            android:name=".ProfileUser"
            android:parentActivityName=".SubjectTeachingDepartment">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.PROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileEdit"
            android:label="ProfileEdit"
            android:parentActivityName=".ProfileUser">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.PROFILEEDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileStudent"
            android:label="ProfileStudent"
            android:parentActivityName=".ClassStudentList">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.PROFILESTUDENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddStudent"
            android:label="AddStudent"
            android:parentActivityName=".ClassStudentList"
            android:theme="@style/AppTheme.CustomTheme">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.ADDSTUDENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Profile Activities END -->

        <!-- Study Material Activities -->
        <activity
            android:name=".StudyMaterialClass"
            android:label="StydyMaterialClass"
            android:parentActivityName=".StudyMaterial">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.STUDYMATERIALCLASS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Study Material Activities END -->

        <!-- Class Management Activities -->
        <activity
            android:name=".ClassManagement"
            android:label="ManageClass"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.MANAGECLASS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Class Management Activities -->

        <!-- Volunteer Management Activities -->
        <activity
            android:name=".VolunteerManagement"
            android:label="VolunteerManagement"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.MANAGEVOLUNTEER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VolunteerList"
            android:label="VolunteerList"
            android:parentActivityName=".VolunteerManagement">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.VOLUNTEERLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VolunteerAttendance"
            android:label="VolunteerAttendance"
            android:parentActivityName=".VolunteerManagement">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.VOLUNTEERATTENDANCE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TransferVolunteerAttendance"
            android:label="TransferVolunteerAttendance"
            android:parentActivityName=".VolunteerAttendance">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.TRANSFERATTENDANCE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VolunteerRequest"
            android:label="VolunteerRequest"
            android:parentActivityName=".VolunteerManagement">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.VOLUNTEERREQUEST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Volunteer Management Activities END -->

        <!-- Misc Activities -->
        <activity
            android:name=".PopupSetDays"
            android:label="PopupSetDays"
            android:theme="@style/AppTheme.CustomTheme">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.POPUPSETDAYS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Misc Activities END -->

        <!-- Notification Activities and Service -->
        <activity
            android:name=".Notification"
            android:label="Notification"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.example.lenovopc.jagrati.NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name=".NotificationService"
            android:enabled="true">
        </service>
        <!-- Notification Activities and Service END -->
    </application>

</manifest>